header {
  height: 75px;
}

aside {
  height: 150px;
}

section {
  height: 125px;
}

div {
  width: 50%;
  height: 250px;
}

footer {
  height: 80px;
}


@media screen and (min-width: 480px) {
  section {
    width: 50%;
  }
  div {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
  }
  header {
    height: 100px;
  }
  
  aside {
    height: 600px;
    width: 20.8333%;
    width: calc(100% / 4.8);
  }
  
  main {
    width: 79.1667%;
    width: calc(100% - 100%/4.8)
  }
  
  section {
    height: 200px;
    width: 50%;
  }
  
  div {
    flex: 1;
    height: 250px;
    align-self: flex-end;
  }
  
  footer {
    height: 150px;
    width: 100%;
  }
  
}