header {
  background-color: red;
}

aside {
  background-color: orangered;
}

section:first-of-type {
  background-color: orange;
}

section:last-of-type {
  background-color: yellow;
}

div:nth-of-type(1) {
  background-color: greenyellow;
}

div:nth-of-type(2) {
  background-color: lawngreen;
}

div:nth-of-type(3) {
  background-color: teal;
}

div:nth-of-type(4) {
  background-color: blue;
}

footer {
  background-color: blueviolet;
}


@media screen and (min-width: 768px) {
  header {
    background-color: violet;
  }
  
  aside {
    background-color: goldenrod;
  }
  
  section:first-of-type {
    background-color: aqua;
  }
  
  section:last-of-type {
    background-color: khaki;
  }
  
  div:nth-of-type(2n+0) {
    background-color: brown;
  }
  
  div:nth-of-type(2n+1) {
    background-color: midnightblue;
  }
  
  footer {
    background-color: greenyellow;
  }
  
}